<html>
<body>
    Спасибо за регистрацию! <br>
    Логин: {{userName}} <br>
    Пароль: {{userPassword}} <br>
    Адрес для входа: {{baseCloudUrl}} <br>
    Более подробную информацию Вы можете получить по адресу: {{baseCloudUrl}} <br>
    <br>
    {{biqaSupportEmail}} <br>
    Спасибо за использование! <br>
</body>
</html>
