<html>
<body>
    Вы запрашивали восстановление пароля для аккаунта с email: {{resetPasswordTokenDao.email}} <br>
    Если то не Вы запрашивали сброс пароля, то просто проигнорируйте данное сообщение. <br>
    Если Вы все же хотите сбросить пароль, то   <br>
    <a href="{{biqaSupportUrl}}/login/password_reset_request/email/{{resetPasswordTokenDao.email}}/id/{{resetPasswordTokenDao.id}}/token/{{randomString}}">
        перейдите по этой сссылке</a>
     <br>
    {{baseCloudUrl}}
</body>
</html>