<html>
<body>
    Добрый день! Вас добавили в систему компании! <br>

    Логин: {{user.username}}<br>
    Пароль: {{password}}<br>
    Адрес для входа: {{baseCloudUrl}} <br>

    Более подробную информацию Вы можете получить по адресу: {{baseCloudUrl}} <br>

    {{biqaSupportEmail}} <br>
    Спасибо за использование! <br>
</body>
</html>

